[submodule "themes/mini"]
	path = themes/mini
	url = https://github.com/nodejh/hugo-theme-mini.git

[submodule "public"]
	path = public
	url = https://github.com/seokbeomkim/seokbeomkim.github.io.git
